.signInView {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.signInView > div:nth-child(4) {
  width: auto;
  height: 100%;
  display: flex;
  align-self: center;
  padding-top: 5.3rem;
  flex-direction: column;
  justify-content: center;
  margin-left: 6.8rem;
}

.signInView > div:last-of-type > div:nth-child(2),
.signInView > div:last-of-type > div:last-of-type {
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.7rem;
}

.signInForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
}

.signInForm input {
  width: 100%;
  max-width: 18rem;
  border: none;
  height: 1.8rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  padding: 1rem 0.7rem;
  background: #F5F5F7;
}

.signInForm .btn {
  width: 100%;
  max-width: 10rem;
  margin-bottom: 2rem;
}

.signInView p {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

#backBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  /* Ajustes para pantallas medianas */
  .signInView > div:nth-child(4) {
    margin-left: 0;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 480px) {
  /* Ajustes para pantallas móviles pequeñas */
  #backBtn {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 1.65rem;
  }

  .signInView {
    padding: 1rem;
    justify-content: flex-start;
  }

  .signInView > div:nth-child(4) {
    margin-left: 0;
    padding-top: 6rem;
  }

  .signInForm input {
    font-size: 0.85rem;
    padding: 0.8rem 0.6rem;
  }

  .signInForm .btn {
    max-width: 100%;
    width: 100%;
  }

  .mobileHeader {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 5.4rem;
    position: fixed;
    padding: 0 2rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dashed black;
  }

  .mobileHeader > h3:first-of-type {
    font-size: 1.8rem;
  }

  .signInView p {
    font-size: 0.85rem;
    margin-bottom: 0.8rem;
    text-align: center;
  }
}
